<!DOCTYPE html>
<html>
<head>
    <title>פרטי טיסה <%= num %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/style.css">
    <style>
		body        { padding-top:70px; }
	</style>
</head>
<body>
    <div class="w3-top">
		<div class="w3-bar w3-white w3-wide w3-padding w3-card">
		  <a href="/logout" class="w3-bar-item w3-button"><i class="fa fa-user-circle-o"></i>התנתק</a>
		  <div class="w3-right w3-hide-small">
			  <a href="myFlights" class="w3-bar-item w3-button"><i class="fa fa-fighter-jet" aria-hidden="true"></i>לכל הטיסות שלי</a>
		  </div>
          <div class="w3-right w3-hide-small">
            <a href="addFlight" class="w3-bar-item w3-button"><i class="fa fa-fighter-jet" aria-hidden="true"></i>הוספת טיסה חדשה</a>
        </div>
		</div>
	  </div>
    <div>
		<div class="container">
            <%- include ('./partials/messages') %>
			<form id="form4" method="post" action="/flightDetails" class="container">
                <div class="form__input-group" >
                    <label for="machinePred">החיזוי שלנו</label>
                    <% if (machinePred == 'On time !') {%>
                        <div id="machinePred" class="form__input" style="background-color:greenyellow;"><%= machinePred %></div>
                    <% } %>
                    <% if (machinePred == 'Minor delay') {%>
                        <div id="machinePred" class="form__input" style="background-color:#ffff00;"><%= machinePred %></div>
                    <% } %>
                    <% if (machinePred == 'Moderate delay') {%>
                        <div id="machinePred" class="form__input" style="background-color:rgb(255, 186, 47);"><%= machinePred %></div>
                    <% } %>
                    <% if (machinePred == 'Severe delay') {%>
                        <div id="machinePred" class="form__input" style="background-color:rgb(255, 82, 47);"><%= machinePred %></div>
                    <% } %>
                    <div class="form__input-error-message"></div>
                </div>
            <div class="form__input-group" >
                <label for="Date"> תאריך</label>
                <div type="text" id="Date" class="form-control"><%= date %></div>
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group" >
                <label for="num"> מספר טיסה</label>
                <div id="num" class="form-control"><%= num %></div>
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group" >
                <label for="dep">המראה</label>
                <div id="dep" class="form-control"><%= dep %></div>
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group" >
                <label for="depTime">זמן המראה</label>
                <div id="depTime" class="form-control"><%= depTime %></div>
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group" >
                <label for="arr">נחיתה</label>
                <div id="arr" class="form-control"><%= arr %></div>
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group" >
                <label for="arrTime">זמן נחיתה</label>
                <div id="arrTime" class="form-control"><%= arrTime %></div>
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group" >
                <label for="terminal">טרמינל</label>
                <div id="terminal" class="form-control"><%= terminal %></div>
                <div class="form__input-error-message"></div>
            </div>
           
            <div>
			</form>
            
		</div>
        
        

	</div>
</body>
</html>



