<!DOCTYPE html> 
<html> 
<head> 
    <title>הטיסות שלי</title> 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> 
 </script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <link rel="shortcut icon" href="/assets/favicon.ico"> 
    <link rel="stylesheet" href="/style.css"> 
     
</head> 
<body> 
  <div> 
   <h1> <%= userName %> ברוך הבא </h1> 
  </div> 
  <div class="form-group"> 
   <form id="form4" method="post" action="/myFlights"> 
                <a href="addFlight" class="home__button">הוספת טיסה חדשה</a> 
                <table class="table"> 
                    <thead> 
                        <tr>
                            <th scope="col">הגשת תלונה</th>   
                            <th scope="col">פרטי טיסה מלאים</th>  
                            <th scope="col">טרמינל</th>  
                            <th scope="col">זמן נחיתה</th>  
                            <th scope="col">יעד</th>  
                            <th scope="col">זמן המראה</th> 
                            <th scope="col">מקור</th>  
                            <th scope="col">מספר טיסה</th>  
                            <th scope="col">תאריך</th>  

                        </tr> 
                    </thead> 
                    <tbody> 
                        <tr> 
                            <%items.forEach(flight =>{%> 
                            <%if(flight.idUser == id){%> 
                            <% currentdate = flight.Date%> 
                            <% currentyear = currentdate.getFullYear();%> 
                            <% currentmonth = currentdate.getMonth() + 1;%> 
                            <% currentday = currentdate.getDate(); %> 
                            <% currentfull = currentday + "/" + currentmonth + "/" + currentyear %> 
                         
                            <tr> 
                                <%if(currentfull < full){%> 
                                    <!-- <th scope="row" ><a href="report" class="complain__button">!הגש תלונה</a></th>   -->
                                    <th scope="row" class="complain__button"><a href="report" + {date,num,dep,depTime,arr,arrTime,terminal}>!הגש תלונה</a></th>                                     
                                <%}%> 
                                <th scope="row" class="complain__button"><a href="summaryFlight" + {date,num,dep,depTime,arr,arrTime,terminal}>פרטי טיסה מלאים</a></th> 
                                <th scope="row"><%= terminal = flight.Terminal %></th> 
                                <th scope="row"><%= arrTime = flight.ArrivalTime %></th> 
                                <th scope="row"><%= arr = flight.Arrival %></th>
                                <th scope="row"><%= depTime = flight.DepartureTime %></th>
                                <th scope="row"><%= dep = flight.Departure %></th>
                                <th scope="row"><%= num = flight.flightNumber %></th> 
                                <th scope="row"><%= date = currentfull %></th>  

                             
                                
                            </tr> 
                            <%}%> 
                            <%})%> 
         
                        </tr> 
         
                    </tbody> 
                </table> 
   </form> 
  </div> 
  <div class="abc"> 
            <a href="/logout">התנתק</a> 
    </div> 
 </div> 
</body> 
</html>