<!DOCTYPE html> 
<html> 
<head> 
    <title>הטיסות שלי</title> 

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Address Bar Color -->
    <meta name="theme-color" content="#FF8860"><!-- Chrome, Firefox OS and Opera -->
    <meta name="msapplication-navbutton-color" content="#FF8860"><!-- Windows Phone -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#FF8860"><!-- iOS Safari -->
    <!--facebook-->
    <meta name="facebook-domain-verification" content="fb5vqrx6tewfvc2vry2u92sp82vwb0" />

    <link rel="shortcut icon" href="/assets/favicon.ico"> 
    <link rel="stylesheet" href="/style.css"> 
    <style>
		body, html {
            height: 100%;
            font-family: "Inconsolata", sans-serif;
            text-align: right;
            }

            .bgimg {
            background-position: center;
            background-size: cover;
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/PikiWiki_Israel_49662_bgn_airport_-_tlv.jpg/800px-PikiWiki_Israel_49662_bgn_airport_-_tlv.jpg");
            min-height: 130%;
            }

            .menu {
            display: none;
            }
            table {
            border-collapse: collapse;
            width: 100%;
            }

            th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            }

            tr:hover {background-color: rgb(196, 218, 247);}
	</style>
</head> 
<body> 
    <!-- Links (sit on top) -->
    <!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/logout" class="w3-bar-item w3-button"><i class="fa fa-user-circle-o"></i>התנתק</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
        <a href="addFlight" class="w3-bar-item w3-button"><i class="fa fa-fighter-jet" aria-hidden="true"></i>הוספת טיסה חדשה</a>
    </div>
  </div>
</div>
    
    <!-- Header with image -->
    <header id="home">
        
        <img class="w3-image" src="https://www.israelhayom.co.il/wp-content/uploads/2021/12/09/%D7%9E%D7%A8%D7%A7%D7%95%D7%91%D7%99%D7%A5.jpg" alt="Architecture" width="100%">
        <div> 
            <p class="lead mb-3"> </p>
        </div>
    </header>
    <div class="w3-container w3-padding-32" id="projects">
        <p class="w3-border-bottom w3-border-light-grey w3-padding-16"><%=userName%> אלו הטיסות שלך <i class="fa fa-plane" aria-hidden="true"></i></p>
    </div>
    
     
  <%- include ('./partials/messages') %>
   <form id="form4" method="post" action="/myFlights"> 
                <table class="table">
                    <h2>טיסות עתידיות</h2> 
                    <thead> 
                        <tr>  
                            <th scope="col">תאריך</th>
                            <th scope="col">מספר טיסה</th>  
                            <th scope="col">מקור</th> 
                            <th scope="col">זמן המראה</th> 
                            <th scope="col">יעד</th>  
                            <th scope="col">זמן נחיתה</th>
                            <th scope="col">טרמינל</th>
                            <th scope="col">תחזית</th>
                            <th scope="col"><i class="fa fa-trash-o" aria-hidden="true"></i></th>   

                        </tr> 
                    </thead> 
                    <tbody> 
                        <tr> 
                            <%items.forEach(flight =>{%> 
                            <%if(flight.idUser == id){%> 
                                
                            <%if(!((flight.Date.split("-")[0] == new Date().getFullYear() && flight.Date.split("-")[1] == new Date().getMonth()+1 && flight.Date.split("-")[2] < new Date().getDate()) || flight.Date.split("-")[0] < new Date().getFullYear() || (flight.Date.split("-")[0] == new Date().getFullYear() && flight.Date.split("-")[1] < new Date().getMonth())) ){%>
                                <th scope="row"><%= date = flight.Date %></th> 
                                <th scope="row"><a href="summaryFlight" + {date,num,dep,depTime,arr,arrTime,terminal,machinePred}><%= num = flight.flightNumber %></a>  
                                <th scope="row"><%= dep = flight.Departure %></th>
                                <th scope="row"><%= depTime = flight.DepartureTime %></th>
                                <th scope="row"><%= arr = flight.Arrival %></th>
                                <th scope="row"><%= arrTime = flight.ArrivalTime %></th>
                                <th scope="row"><%= terminal = flight.Terminal %></th> 
                                <th scope="row"><%= machinePred = flight.machinePred %></th>    
                                <th><a href= "/deleteFlight?date=<%= date %>&num=<%= num%>"><i class="fa fa-times" aria-hidden="true"></i></a></th>  
                                
                                <%if(flight.delayHourUpdate){%>
                                    <tr><td class="complain__button">
                                         שים לב!!! הטיסה מתעכבת לשעה:<%=flight.delayHourUpdate %>
                                    </td></tr>
                                <%}%>
                            </tr>
                            
                            <%}%> 
                            
                             
                            <%}%> 
                            
                            <%})%> 
         
                        </tr> 
         
                    </tbody> 
                </table> 
                <table class="table"> 
                    <h2>טיסות עבר</h2>
                    <thead> 
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">תאריך</th>   
                            <th scope="col">מספר טיסה</th>  
                            <th scope="col">מקור</th>
                            <th scope="col" colspan="2">זמן המראה מתוכנן | בפועל</th> 
                            <th scope="col">יעד</th>  
                            <th scope="col">זמן נחיתה</th>  
                            <th scope="col">טרמינל</th> 
                            <th scope="col"><i class="fa fa-trash-o" aria-hidden="true"></i></th>  

                        </tr> 
                    </thead> 
                    <tbody> 
                       
                            <%items.forEach(flight =>{%> 
                            <%if(flight.idUser == id){%> 
                            <%if((flight.Date.split('-')[0] == new Date().getFullYear() && flight.Date.split('-')[1] == new Date().getMonth()+1 && flight.Date.split('-')[2] < new Date().getDate()) || flight.Date.split('-')[0] < new Date().getFullYear() || (flight.Date.split('-')[0] == new Date().getFullYear() && flight.Date.split('-')[1] < new Date().getMonth()) ){%>
                            <%var startTime = moment(flight.DepartureTime, 'HH:mm a');%> 
                            <%var endTime = moment(flight.delayHourUpdate, 'HH:mm a');%> 

                            <%var duration = moment.duration(endTime.diff(startTime));%> 

                            <%var hours = parseInt(duration.asHours());%>
                            <%console.log(hours)%> 
                            <%if(hours>6){%>
                                
                                
                                    <th scope="row" class="complain__button"><a href="report" + {date,num,dep,depTime,arr,arrTime,terminal}>הנך זכאי לפיצוי, אנא הגש תלונה</a></th>                                     
                                <%}else{%> 
                                    <th scope="row"></th> 
                                <%}%> 
                                <% delayHourUpdate = flight.delayHourUpdate %>
                                <th scope="row"><%= date = flight.Date %></th> 
                                <th scope="row"><a href="flightDetailsPast" + {date,num,dep,depTime,arr,arrTime,terminal,delayHourUpdate}><%= num = flight.flightNumber %></th> 
                                <th scope="row"><%= dep = flight.Departure %></th>
                                <th scope="row"><%= depTime = flight.DepartureTime %></th>
                                <th scope="row"><%= depTime = flight.delayHourUpdate %></th>
                                <th scope="row"><%= arr = flight.Arrival %></th>
                                <th scope="row"><%= arrTime = flight.ArrivalTime %></th> 
                                <th scope="row"><%= terminal = flight.Terminal %></th> 
                                <th><a href= "/deleteFlight?date=<%= date %>&num=<%= num%>"><i class="fa fa-times" aria-hidden="true"></i></a></th>  
                                
                            </tr>    
                            <%}%> 
                            <%}%> 
                            <%})%> 
         
                        </tr> 
         
                    </tbody> 
                </table> 

                
   </form> 
 </div> 
</body> 
</html>
    
    