<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>הגשת תלונה</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="./style.css">
    <style>
		body        { padding-top:70px; }
	</style>
</head>
<body>
    <div class="w3-top">
		<div class="w3-bar w3-white w3-wide w3-padding w3-card">
		  <a href="/logout" class="w3-bar-item w3-button"><i class="fa fa-user-circle-o"></i>התנתק</a>
		  <div class="w3-right w3-hide-small">
			  <a href="myFlights" class="w3-bar-item w3-button"><i class="fa fa-fighter-jet" aria-hidden="true"></i>לכל הטיסות שלי</a>
		  </div>
          <div class="w3-right w3-hide-small">
            <a href="addFlight" class="w3-bar-item w3-button"><i class="fa fa-fighter-jet" aria-hidden="true"></i>הוספת טיסה חדשה</a>
        </div>
		</div>
	  </div>
    <section>
    <div>
        <h1 id="title" class="form__title">הגשת תלונה</h1>    
        <form action="https://formsubmit.co/<%=process.env.EMAIL_SEND_FROM%>" method="POST" class="container">
            <div class="form__input-group" >
                <label for="fullName"> שם מלא</label>
                <input type="text" id="fullName" class="form__input" name="fullName" autofocus placeholder="שם מלא" required>
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group" >
                <label for="numPassengers"> מספר נוסעים</label>
                <input type="text" id="numPassengers" class="form__input" name="numPassengers" autofocus placeholder="מספר נוסעים" required>
                <div class="form__input-error-message"></div>
            </div>
            <label for="email"> אימייל</label>
            <div class="form__input-group" >
                <input id="email" name="email" value="<%= email %>"/>
                <div class="form__input-error-message"></div>
            </div>

            <label for="Date"> תאריך</label>

            <div class="form__input-group" >
                <input id="Date" name="Date" value="<%= query.date %>"/>
                <div class="form__input-error-message"></div>
            </div>
            <label for="num"> מספר טיסה</label>

            <div class="form__input-group" >
                <input id="num" name="num" value="<%= query.num %>"/>
                <div class="form__input-error-message"></div>
            </div>
            <label for="dep">המראה</label>

            <div class="form__input-group" >
                <input id="dep" name="dep" value="<%= query.dep %>"/>
                <div class="form__input-error-message"></div>
            </div>
            <label for="depTime">זמן המראה</label>

            <div class="form__input-group" >
                <input id="depTime" name="depTime" value="<%= query.depTime %>"/>
                <div class="form__input-error-message"></div>
            </div>
            <label for="arr">נחיתה</label>

            <div class="form__input-group" >
                <input id="arr" name="arr" value="<%= query.arr %>"/>
                <div class="form__input-error-message"></div>
            </div>
            <label for="arrTime">זמן נחיתה</label>

            <div class="form__input-group" >
                <input id="arrTime" name="arrTime" value="<%= query.arrTime %>"/>
                <div class="form__input-error-message"></div>
            </div>
            <label for="terminal">טרמינל</label>
            <div class="form__input-group" >
                
                <input id="terminal" name="terminal" value="<%= query.terminal %>"/>
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group" >
                <label for="message"> הודעה</label>
                <textarea id="message" class="form__input" name="message" cols="30" rows="10" autofocus placeholder="משהו שתרצה להוסיף"></textarea>
                <div class="form__input-error-message"></div>
            </div>
            <button onclick="react()" type="submit"class="form__button">שלח</button>
            <script>
                function react(){
                    document.getElementById(title).innerHTML = "תודה על הדיווח!"
                }
            </script>
            <input type="hidden" name="_subject" value="עדכון חדש מלקוח: טיסה מתעכבת">
            <input type="hidden" name="_next" value="<%=url%>/Thankyou">

            <input type="hidden" name="_captcha" value="false"> 
        </form>
    </div>
</section>
</body>
</html>