<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css">
	<style>
		body        { padding-top:70px; }
		.container {width: 400px;}
		.btn-success {justify-content: center;width: 100%;}
	</style>
</head>
<body>

	<div action="/signup">
		<div>
			<h1>צור משתמש חדש
			</h1>
		</div>

			<%- include ("./partials/messages"); %>
			<form id="form1" method="post">
				<input type="email" name="Email" placeholder="אימייל" required="" class="form-control" value="<%= typeof Email != 'undefined' ? Email : '' %>"><br/>
				<input type="text" name="userName" placeholder="שם משתמש" required="" class="form-control" value="<%= typeof userName != 'undefined' ? userName : '' %>"><br/>
				<input type="password" name="Password" placeholder="סיסמא" required="" class="form-control" value="<%= typeof Password != 'undefined' ? Password : '' %>"><br/>
				<input type="password" name="PasswordConf" placeholder="אימות סיסמא" required="" class="form-control" value="<%= typeof PasswordConf != 'undefined' ? PasswordConf : '' %>"><br/>
				<input type="submit" value="יצירה" class="btn btn-success">
			</form>

		
		<div class="mssg bg-danger">
			<span id="check"></span>
		</div>
		<div>
			<span>כבר רשום?! <a href="/">התחבר</a></span>
		</div>
		<div id="LangTable"><a href="/addFlight" id="aa"></a>
		</div>
	</div>
</body>
</html>